.change-password {
    width: 100%;
    background-image: url("../images/canteenBg.png");
    -moz-background-size:cover;
    -ms-background-size:cover;
    -webkit-background-size:cover;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/startupBg.png,sizingMethod=scale);
}

/* status bar */
.change-password #status-bar {
    float: left;
    margin: 3px 0px;
    width: 100%;
}

/* top bar part */
.change-password #top-bar {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #fafafa;
    font-family: STHeitiSC-Light;
}

.change-password #img-back {
    float: left;
    margin: 5px 0 0 3px;
    cursor: pointer;
}

.change-password #title {
    width: 80%;
    text-align: center;
}

.change-password #title-back {
    float: left;
    margin: 0px 3px;
    color: rgb(60,123,218);
    cursor: pointer;
}

/* input form */
.change-password #input-form {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
/* 输入框 */
.change-password #input-form input {
    width: 80%;
    margin: 10px 10%;
    height: 40px;
    background-color: rgba(255,255,255,0);
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: STHeitiSC-Light;
    font-size: 14px;
}
/* 设置placeholder */
.change-password ::-webkit-input-placeholder { color: #fff } /* WebKit browsers */
.change-password :-moz-placeholder { color: #fff } /* Mozilla Firefox 4 to 18 */
.change-password ::-moz-placeholder { color: #fff } /* Mozilla Firefox 19+ */
.change-password :-ms-input-placeholder { color: #fff } /* Internet Explorer 10+ */

.change-password #password-button {
    display: inline-block;
    position: relative;
    left: 30%;
    width: 40%;
    height: 35px;
    margin: 20px 0px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    background-color: rgb(233,92,91);
    border-radius: 10px;
    font-family: STHeitiSC-Light;
    cursor: pointer;
}

/* tab bar part */
.change-password #tabbar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(233,92,91); 
}

.change-password .tab-item {
    float: left;
    width: 33.333%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.change-password .tab-item.active {
    background-color: rgb(60,123,218);
}
.change-password .tab-item img {
    height: 60%;
    width: 30%;
    margin-top: 8px;
    margin-left: 35%;
}